@import "tailwindcss";

:root {
  --background:#0f0919;
  --foreground:  #e5e7eb;
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
